{% extends "base.html"%}

{% block content%}
<h1>Welcome to {{name}} tutoral</h1>
<p>Lorem ipsum dolor sit amet consectetur 
    adipisicing elit. Nihil, porro vitae, voluptatem
     optio non adipisci ipsa saepe ex veritatis labore 
     commodi ea excepturi! Maiores porro nulla nesciunt
      adipisci nobis aut voluptatum architecto nemo 
      tempora in sit iste iusto dignissimos quae mollitia
       ratione, accusamus maxime 
    asperiores saepe corrupti at quod distinctio!</p>
{% endblock%}
